.Fruits{background:#fde8d9;}
.Vegetables{background:#e3f6df;}
.Dairy{background:#f7f4e8;}
.Meat{background:#f8dede;}
.Seafood{background:#dfeafa;}
.Beverage{background:#e4e7fa;}
.Others{background:#eeeeee;}